footer.footer(data-section)
    .container
        .footer-top
            ul.footer-list
                li
                    p.footer-list-title Company
                li
                    p.footer-list-text Find a location nearest you. See
                        a.link(href="#") Our Stores
                li
                    p.footer-list-text.bold +391 (0)35 2568 4593
                li
                    p.footer-list-text hello@domain.com

            ul.footer-list
                li
                    p.footer-list-title Useful links
                li
                    a.footer-link(href="#") New Products
                li
                    a.footer-link(href="#") Best Sellers
                li
                    a.footer-link(href="#") Bundle & Save
                li
                    a.footer-link(href="#") Online Gift Card

            ul.footer-list
                li
                    p.footer-list-title Infomation
                li
                    a.footer-link(href="#") Start a Return
                li
                    a.footer-link(href="#") Contact Us
                li
                    a.footer-link(href="#") Shipping FAQ
                li
                    a.footer-link(href="#") Terms & Conditions
                li
                    a.footer-link(href="#") Privacy Policy

            .footer-list
                p.newsletter-title Good emails.
                p.newsletter-text Enter your email below to be the first to know about new collections and product launches.

                form.newsletter-form(action="")
                    input.email-field(type="email", name="email_address" placeholder="Enter your email address")
                    button.btn.btn-primary(type="submit") Subscribe

        .footer-bottom
            .wrapper
                p.copyright &copy; 2022 codewithsadee
                ul.social-list
                    li
                        a.social-link(href="#")
                            ion-icon(name="logo-twitter")
                    li
                        a.social-link(href="#")
                            ion-icon(name="logo-facebook")
                    li
                        a.social-link(href="#")
                            ion-icon(name="logo-instagram")
                    li
                        a.social-link(href="#")
                            ion-icon(name="logo-youtube")
            a.logo(href="#")
                img(src="images/logo.png", alt="Glowing" width="179" height="26" loading="lazy")

            img.w-100(src="images/pay.png", alt="available all payment method" width="313" height="28" loading="lazy")
